
{% extends "admin/admin/index.html" %}

{% load i18n %}
{% load static %}

{% load admin_filters %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/admin/css/add_form.css' %}">
{% endblock extra_css %}


{% block breadcrumbs %}
  <li><a href="{{ index_url }}">{% trans "Home" %}</a></li>
  <li><a href="{{ app_index_url }}">{{ model_meta.app_config.verbose_name|capfirst }}</a></li>
  <li class="active">{% trans "Add" %} {{ model_meta.verbose_name|lower }}</li>
{% endblock breadcrumbs %}


{% block content %}

  {{ block.super }}

  <form action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} class="form-horizontal" id="form_add">
    {% csrf_token %}

    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <p class="text-danger">{{ error }}</p>
      {% endfor %}
    {% endif %}

    {% for field in form %}

      {% if field.is_hidden is False %}

        {% if field.errors %}
          {% for error in field.errors %}
            <p class="text-danger">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {% comment %}
          Made own templatetag for addons
        {% endcomment %}

        <div class="form-group">

          <label for="{{ field.id_for_label }}" class="col-xs-2 control-label">{{ field.label }} {{ form.label_suffix }}</label>

          <div class="col-xs-10">

            {% with form.addons|get_item_by_key:field.name as addons %}

              {% if addons != '' %}
                <div class="input-group">
                  {% if addons.left %}
                    <div class="input-group-addon">{{ addons.left}}</div>
                  {% endif %}
                  {{ field }}
                  {% if addons.right %}
                    <div class="input-group-addon">{{ addons.right}}</div>
                  {% endif %}
                </div>

              {% else %}
                {{ field }}
              {% endif %}

            {% endwith %}

            {% if field.help_text %}
              <p class="help-block">{{ field.help_text }}</p>
            {% endif %}

          </div>

        </div>


      {% comment %}
      <p>Name {{ field.name }}</p>
      <p>Value {{ field.value }}</p>
      <p>Initial {{ field.initial }}</p>
      <p>Css_classes {{ field.css_classes }}</p>
      {% endcomment %}

      {% endif %}

    {% endfor %}

  <div class="row">
    <div class="col-xs-12 text-right">
      <button class="btn btn-primary" type="submit" id="">{% trans "Save" %}</button>
      <button class="btn btn-primary" type="submit" id="">{% trans "Save and continue" %}</button>
      <button class="btn btn-primary" type="submit" id="">{% trans "Save and add another" %}</button>
    </div>
  </div>

  </form>

{% endblock content %}
