
{% extends "admin/admin/index.html" %}

{% load i18n %}
{% load static %}

{% load utils_filters %}

{% load admin_filters %}
{% load admin_tags %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/admin/css/addchange.css' %}">
{% endblock extra_css %}

{% block extra_head %}
  {{ block.super }}
  {{ form.media }}
  <script src="{% static 'admin/admin/js/prepopulated_fields.js' %}"></script>
{% endblock extra_head %}


{% block breadcrumbs %}
  <li><a href="{{ index_url }}">{% trans "Home" %}</a></li>
  <li><a href="{{ model_meta|get_admin_url:'app' }}">{{ model_meta.app_config.verbose_name|capfirst }}</a></li>
  <li><a href="{{ model_meta|get_admin_url:'changelist' }}">{{ model_meta.verbose_name_plural|capfirst }}</a></li>
  <li class="active">{% if object is not None %}{% trans "Change" %}{% else %}{% trans "Add" %}{% endif %} {{ model_meta.verbose_name|lower }}</li>
{% endblock breadcrumbs %}


{% block content %}
  {{ block.super }}

  <div class="row" id="buttons">
    <div class="col-sm-6">

      {% if object is not None %}

        {% if has_delete_permission is True %}
          <a class="btn btn-danger" href="{{ object|get_admin_url:'delete' }}" id="">{% trans "Delete" %}</a>
        {% endif %}

        {% if model_admin.view_on_site is True and object.get_absolute_url %}
          <a class="btn btn-info" href="{{ object.get_absolute_url }}" id="">{% trans "Preview" %}</a>
        {% endif %}

        <a class="btn btn-warning" href="{{ object|get_admin_url:'history' }}" id="">{% trans "History" %}</a>

      {% endif %}

    </div>
    <div class="col-sm-6 text-right">
      <button class="btn btn-primary" type="submit" id="" form="form_addchange" name="_clicked_button" value="save">{% trans "Save" %}</button>
      <button class="btn btn-primary" type="submit" id="" form="form_addchange" name="_clicked_button" value="save_and_continue">{% trans "Save and continue" %}</button>
      <button class="btn btn-primary" type="submit" id="" form="form_addchange" name="_clicked_button" value="save_and_add_another">{% trans "Save and add another" %}</button>
    </div>
  </div>


  <div>
    <ul class="nav nav-tabs" role="tablist">

      {% for fieldset in form %}
          <li role="presentation" class="{% if forloop.counter == 1 %}active{% endif %}">
            <a href="#fieldset{{ forloop.counter }}_model" role="tab" data-toggle="tab">
                <span class="{% if fieldset.total_error_count > 0 %}text-danger{% endif %}">
                  {% if fieldset.name %}
                    {{ fieldset.name }}
                  {% else %}
                    {% blocktrans with forloop.counter as num %}
                        Fieldset # {{ num }}
                    {% endblocktrans %}
                  {% endif %}

                    {% if fieldset.total_error_count > 0 %}
                        {% blocktrans count counter=fieldset.total_error_count trimmed %}
                            ({{ counter }} error)
                        {% plural %}
                            ({{ counter }} errors)
                        {% endblocktrans %}
                    {% endif %}

                 </span>
            </a>
          </li>
      {% endfor %}

      {% for inline, formset in inlines_formsets %}
      <li role="presentation">
        <a href="#fieldset{{ forloop.counter }}_inline" role="tab" data-toggle="tab">

            <span class="{% if formset.total_error_count > 0 %}text-danger{% endif %}">
                {{ inline.verbose_name_plural }}

                {% if formset.total_error_count > 0 %}
                    {% blocktrans count counter=formset.total_error_count trimmed %}
                        ({{ counter }} error)
                    {% plural %}
                        ({{ counter }} errors)
                    {% endblocktrans %}
                {% endif %}
        </span>
        </a>
      </li>
      {% endfor %}

    </ul>
  </div>

  <form action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} class="form-horizontal" id="form_addchange">
    {% csrf_token %}
    <div class="tab-content">
      {% for fieldset in form %}
        <div class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="fieldset{{ forloop.counter }}_model" role="tabpanel">

            <fieldset class="{{ fieldset.classes }}">

            {% if fieldset.description %}
              <legend>{{ fieldset.description }}</legend>
            {% endif %}

              {{ fieldset.form.non_field_errors }}
              {% if fieldset.form.non_field_errors %}
                {% for error in fieldset.form.non_field_errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}
              {% endif %}

                {% for fieldline in fieldset %}
                  <div class="form-group">

                    {{ fieldline.field.label_tag }}

                    <div class="col-xs-10">

                    {% if fieldline.field.is_hidden is True %}
                      <p class="danger">This field is hidden</p>
                    {% endif %}

                      {% if fieldline.field.errors %}
                        {% for error in fieldline.field.errors %}
                          <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                      {% endif %}

                      {% if fieldline.field.is_readonly is False %}

                        {% get_addons_for_field fieldline.field as field_addons %}

                          {% if field_addons is not None %}
                            <div class="input-group">

                              {% if field_addons.left %}
                                <div class="input-group-addon">{{ field_addons.left }}</div>
                              {% endif %}
                              {{ fieldline.field }}

                              {% if field_addons.right %}
                                <div class="input-group-addon">{{ field_addons.right }}</div>
                              {% endif %}
                            </div>
                          {% else %}
                              {{ fieldline.field }}
                          {% endif %}

                      {% else %}
                        <p class="form-control-static">{{ fieldline.field }}</p>
                      {% endif %}

                      {% if fieldline.field.help_text %}
                        <p class="help-block">{{ fieldline.field.help_text }}</p>
                      {% endif %}

                    </div>
                  </div>
                {% endfor %}
            </fieldset>
          </div>
      {% endfor %}

      {% for inline, formset in inlines_formsets %}
        <div class="tab-pane" id="fieldset{{ forloop.counter }}_inline" role="tabpanel">
          {% display_inline_formset inline formset %}
        </div>
      {% endfor %}

    </div>
  </form>

{% comment %}

Made own templatetag for addons
<p>Css_classes --{{-- field.css_classes }}</p>
{% endcomment %}

  {% prepopulated_fields_js %}

{% endblock content %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'admin/admin/js/addchange.js' %}" charset="utf-8"></script>
{% endblock extra_js %}
