
{% extends "admin/admin/index.html" %}

{% load i18n %}
{% load static %}

{% load admin_filters %}
{% load admin_tags %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/admin/css/changelist.css' %}">
{% endblock extra_css %}

{% block breadcrumbs %}
  <li><a href="{{ index_url }}">{% trans "Home" %}</a></li>
  <li><a href="{{ model_meta|get_admin_url:'app' }}">{{ model_meta.app_config.verbose_name|capfirst }}</a></li>
  <li class="active">{{ model_meta.verbose_name_plural|capfirst }}</li>
{% endblock breadcrumbs %}


{% block content %}

  {% block toolbox %}
    <div class="row">
      <div class="col-xs-12 text-right">
        {% if has_export_permission is True %}
          <a href="{{ page_object_list.paginator.object_list|get_admin_url:'export' }}" class="btn btn-warning">{% trans "Export" %}</a>
        {% endif %}
        {% if has_import_permission is True %}
          <a href="{{ model_admin.model|get_admin_url:'import' }}" class="btn btn-danger">{% trans "Import" %}</a>
        {% endif %}
        {% if has_add_permission is True %}
          <a href="{{ model_meta|get_admin_url:'add' }}" class="btn btn-success">{% trans "Add " %} {{ model_meta.verbose_name|lower }}</a>
        {% endif %}
      </div>
    </div>
  {% endblock toolbox %}

<form action="" class="" method="GET" id="">

  {% block switch_list_display %}
    {% if all_list_display is not None %}
      <input type="hidden" name="old_list_display_name" value="{{ activated_list_display_name }}">
      <select name="list_display" id="list_display" class="form-control">
        {% for list_display_name, list_display_options in all_list_display.items %}
          <option value="{{ list_display_name }}" {% if list_display_name == activated_list_display_name %}selected{% endif %}  > {{ list_display_options.title }}</option>
        {% endfor %}
      </select>
    {% endif %}
  {% endblock switch_list_display %}

  {% block searchbox %}
    {% if model_admin.get_search_fields %}

      <div id="div_model_searchbox">
          <div class="row">
            <div class="col-xs-10">

                <p class="help-block unselectable_text" id="toggle_search_details">
                {% blocktrans trimmed %}
                    Click here for show/hide details of a search
                {% endblocktrans %}</p>

                <table class="table" id="table_search_details">
                    <thead>
                        <tr>
                            <th>{% trans "Field" %}</th>
                            <th>{% trans "Type search" %}</th>
                            <th>{% trans "Ignorecase" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for search_detail in search_details %}
                            <tr>
                                <td>{{ search_detail.field_name }}</td>
                                <td>{{ search_detail.type_search }}</td>
                                <td>{{ search_detail.ignorecase|as_bootstrap_logic_icon }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="input-group">
                  <input type="search" class="form-control" placeholder="{% trans 'Search for ...' %}" aria-describedby="#searchbox_span_icon" name="q" value="{{ q }}">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                </div>
            </div>
          </div>
      </div>

    {% endif %}
  {% endblock searchbox %}

  {% block filters %}
    <div id="div_filters">
       {% if filters %}
        <div class="row">
            <div id="display_filters" class="hidden">
                <div class="col-sm-12 text-center">
                    <button id="btn_hide_filters" class="btn btn-info btn-block" type="button">{% trans "Hide filters" %}</button>
                    <button id="btn_apply_filters" class="btn btn-success btn-block" type="submit">{% trans "Apply filters" %}</button>
                </div>

                {% for filter_ in filters %}
                <div class="col-sm-12">
                    {% display_admin_filter filter_ %}
                </div>
                {% endfor %}
            </div>
            <div id="hidden_filters">
                <p id="btn_show_filters">
                    {% trans "Show filters" %}
                </p>
            </div>
        </div>
        {% endif %}
    </div>
  {% endblock filters %}

  {% if page_object_list.object_list %}

    {% block actions_and_display_control %}
      <div id="div_actions_and_display_control">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
              <table>
                <tbody>
                  <tr>
                    <td><span for="select_actions">{% trans "Actions" %}</span></td>
                    <td>
                      <select name="action" id="select_actions" class="form-control">
                        {% for action_name, options in actions.items %}
                          <option value="{{ action_name }}">{{ options.description }}</option>
                        {% endfor %}
                      </select>
                    </td>
                    {% if model_admin.actions_selection_counter is True %}
                    <td>
                        <span>
                          <span>{% trans 'Selected' %}</span>
                          <span id="count_selected_objects">0</span>
                          <span>{% blocktrans %}from {{ total_count_objects  }}{% endblocktrans %}
                          </span>
                        </span>
                    </td>
                    {% endif %}
                    <td><button type="submit" class="btn btn-default">{% trans "Make it" %}</button></td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label class="control-label col-xs-4" for="list_per_page">{% trans "List per page" %}</label>
                <div class="col-xs-4">
                  <input type="number" name="list_per_page" id="list_per_page" value="{{ list_per_page }}" min="1" max="{{ page_object_list.paginator.count }}" class="form-control">
                </div>
                <input type="submit" value='{% trans "Change it" %}' class="btn btn-default">
              </div>
          </div>
        </div>
      </div>
    {% endblock actions_and_display_control %}

      {% block date_hierarchy %}
        <div id="div_date_hierarchy">
          {% display_date_hierarchy model_admin page_object_list.object_list %}
        </div>
      {% endblock date_hierarchy %}

    {% block table_changelist %}

      <div id="changelist">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
              <thead>
                {% display_table_header model_admin list_display_fields %}
              </thead>
              <tbody>{% display_object_list model_admin page_object_list list_display_fields %}</tbody>
          </table>
        </div>

        <nav aria-label="Page navigation" class="text-center" id="navigation">
          <ul class="pagination">

            <li aria-label="Previous" class="{% if not page_object_list.has_previous %}disabled{% endif %}">
              {% if page_object_list.has_previous %}
              <a href="{% urlencode_with_considering_pagination page_object_list 'previous' %}">
                <span aria-hidden="true">&laquo;</span>
              </a>
              {% else %}
                <span aria-hidden="true">&laquo;</span>
              {% endif %}
            </li>

            {% for num in page_object_list.paginator.page_range %}
              <li class="{% if num == page_object_list.number  %}active{% endif %}">
                <a href="{% urlencode_with_considering_pagination page_object_list num %}">
                  {{ num }}
                </a>
              </li>
            {% endfor %}

            <li aria-label="Next" class="{% if not page_object_list.has_next %}disabled{% endif %}">
            {% if page_object_list.has_next %}
              <a href="{% urlencode_with_considering_pagination page_object_list 'next' %}">
                <span aria-hidden="true">&raquo;</span>
              </a>
            {% else %}
                <span aria-hidden="true">&raquo;</span>
            {% endif %}
            </li>

          </ul>
        </nav>
      </div>

    {% endblock table_changelist %}

    {% block display_control %}
      <div id="display_control">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-xs-7">
              {% with single_object=model_meta.verbose_name.lower plural_objects=model_meta.verbose_name_plural.lower %}
                <span>
                    {% blocktrans count count_objects=page_object_list|length trimmed %}
                      Showing {{ count_objects }} {{ single_object }} from {{ total_count_objects }}
                    {% plural %}
                      Showing {{ count_objects }} {{ plural_objects }} from {{ total_count_objects }}
                    {% endblocktrans %}
                </span>
                {% if total_count_objects != page_object_list|length %}
                  |
                  <a href="{{ request|show_all_objects:total_count_objects }}">{% trans "Show all" %}</a>
                {% endif %}
                |
                <a href="{{ model_meta|get_admin_url:'changelist' }}">{% trans "Reset all filters and conditions" %}</a>
              {% endwith %}
            </div>
          </div>
        </div>
      </div>
    {% endblock display_control %}

  {% else %}

    <div class="row">
      <div class="col-sm-12 bg-info">
        <p class="lead">{% trans "By passed conditions found nothing. Try change the conditions or add new objects." %}</p>
        <a href="{{ model_meta|get_admin_url:'changelist' }}">{% trans "Reset all filters and conditions" %}</a>
      </div>
    </div>

  {% endif %}

</form>

{% endblock content %}

{% block extra_js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'admin/admin/js/changelist.js' %}"></script>
{% endblock extra_js %}
