
div.colorfield > span.input-group-addon:hover{
    cursor: pointer;
}

    div.colorfield > span.input-group-addon > input[type="color"]{
        border: 0;
        width: 30px;
        height: 28px;
        padding: 0;
        margin: -5px -8px;
    }

    div.colorfield > span.input-group-addon > input[type="color"]:focus{
        visibility: hidden;
    }
