
<tr>
  <th class="checkbox_column">
    <input type="checkbox">
  </th>
  {% for header in headers %}
    <th class="{% if header.is_sortable is True %}is_sortable{% endif %}">

        {% if header.is_sortable is True %}

          <input type="hidden" name="sortable_field" value="{{ header.sortable_data }}" form="form_changelist">

          {% if header.position is not None and header.order is not None %}
            {% if header.order == 'asc' %}
              <div class="text-success header_column_sortable_icon">{{ header.position }}<i class="fa fa-fw fa-sort-asc"></i></div>
            {% else %}
              <div class="text-danger header_column_sortable_icon">{{ header.position }}<i class="fa fa-fw fa-sort-desc"></i></div>
            {% endif %}
          {% else %}
            <div class="header_column_sortable_icon"><i class="fa fa-fw fa-sort"></i></div>
          {% endif %}
        {% endif %}

        <div class="header_column_display_name">{{ header.display_name }}</div>

    </th>
  {% endfor %}
</tr>
