
{% extends "admin/base_site.html" %}

{% load nvd3_tags %}
{% load mytags %}

{% block extrastyle %}
    {{ block.super }}
    {% include_chart_jscss %}
    {% load_chart usage_lexers_charttype usage_lexers_chartdata piechart_usage_lexers_container %}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% calendar 2016 1 'dark_theme' %}
    {% calendar 2016 2 'light_theme' %}
    {% calendar %}
    {% comment %}
    {% include "admin/snippets/_chart_usage_lexers.html" %}
    {% include "admin/snippets/_chart_usage_tags.html" %}
    {% endcomment %}
{% endblock content %}
