
{% extends "admin/app_index.html" %}

{% load i18n %}
{% load url from suit_compat %}
{% load static %}
{% load utils_tags %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'project/css/admin/app_index.css' %}">
{% endblock extrastyle %}

{% block content %}
  {{ block.super }}

  <div id="content-summary">
      <table class="table-overview applist">
          <caption><a class="section">{% trans 'Actions' %}</a></caption>
          <tr>
              <td scope="row"><a href="{% url 'admin:app_reports' app_label=app_label %}">{% trans "Report" %}</a></td>
              <td><i class="icon-file icon-alpha75" aria-hidden="true"></i></td>
          </tr>
          <tr>
              <td scope="row"><a href="{% url 'admin:app_statistics' app_label=app_label %}">{% trans "Statistics" %}</a></td>
              <td><i class="icon-th-list icon-alpha75" aria-hidden="true"></i></td>
          </tr>
      </table>
  </div>

{% endblock content %}

{% block sidebar %}{% endblock %}
