
{% extends "admin/index.html" %}

{% load i18n %}
{% load url from suit_compat %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'project/css/admin/app_index.css' %}">
{% endblock extrastyle %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <ul class="breadcrumb">
            <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                <span class="divider">&raquo;</span></li>
            {% for app in app_list %}
                <li class="active">{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</li>
            {% endfor %}
        </ul>
    {% endblock %}
{% endif %}

{% block content %}
    {{ block.super }}
    <div id="content-summary">
        {% if app_list %}
            <table class="table-overview applist">
                <caption><a class="section">{% trans 'Summary' %}</a></caption>
                <tr>
                    <td scope="row"><a href="{% url 'admin:polls_poll_make_report' %}">{% trans "Make report" %}</a></td>
                    <td><i class="icon-file icon-alpha75" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td scope="row"><a href="{% url 'admin:polls_poll_statistics' %}">{% trans "Statistics" %}</a></td>
                </tr>
            </table>
        {% else %}
            <p>{% trans "You don't have permission to make reports." %}</p>
        {% endif %}
    </div>
{% endblock content %}

{% block sidebar %}{% endblock %}
