

#table_fields tr th:first-child{
    text-align: center;
    width: 35px;
}

#table_fields tr td:first-child{
    text-align: center;
}

#btn_select_all_fields {
    border: none;
    background: inherit;
    padding: 0;
    font-weight: bold;
    color: rgb(51, 51, 51);
}


#table_formats tr td{
    text-align: center;
    padding: 0;
}

    #table_formats tr td:hover{
        background: rgb(213, 215, 216);
        /* color: white; */
    }

    #table_formats tr td input[type='radio'][name='format_export_data']{
        display: none;
    }

    #table_formats tr td label{
        padding: 10px 0 10px 0;
        margin: 0;
    }
