
{% extends "admin/base_site.html" %}

{% load i18n %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'polls/css/admin.css' %}">
{% endblock extrastyle %}

{% block extrajs %}
    {{ block.super }}

    <!-- Add built-in django version jQuery, previously passed this variable in context of view-->
    {{ media }}

    <!-- Add own js script -->
    <script src="{% static 'polls/js/admin/admin.js' %}" type="text/javascript" charset="utf-8"></script>

{% endblock extrajs %}

{% block breadcrumbs %}
    {% include "polls/admin/_own_admin_breadcrumbs.html" %}
{% endblock %}

{% block content %}
    <div class="content-main">
        <div class="module">
            <form action="{% url 'admin:polls_make_report' %}" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <table class="table-overview applist" id="table_radio_group_select_report">
                    <caption>{% trans "Select needed report" %}</caption>
                    <tbody>
                        <tr>
                            <td class="section">
                                <select name="output_report" id="select_output_report">
                                    <option value="report_pdf" selected>{% trans "Report PDF" %}</option>
                                    <option value="report_excel">{% trans "Report Excel" %}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="section">
                                <label for="subject_polls">
                                    <input type="checkbox" name="polls" value="polls" id="subject_polls">
                                    <span>{% trans "Polls" %}</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="section">
                                <label for="subject_choices">
                                    <input type="checkbox" name="choices" value="choices" id="subject_choices">
                                    <span>{% trans "Choices" %}</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="section">
                                <label for="subject_votes">
                                    <input type="checkbox" name="votes" value="votes" id="subject_votes">
                                    <span>{% trans "Votes" %}</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="section">
                                <label for="subject_results">
                                    <input type="checkbox" name="results" value="results" id="subject_results" checked="checked">
                                    <span>{% trans "Result of polls" %}</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="section">
                                <label for="subject_voters">
                                    <input type="checkbox" name="voters" value="voters" id="subject_voters">
                                    <span>{% trans "Voters" %}</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="section">
                                <input type="submit" name="submit" value="Make report" id="btn_submit_make_report_polls">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock content %}

