
{% extends "admin/base_site.html" %}

{% load i18n %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'polls/css/admin.css' %}">
{% endblock extrastyle %}

{% block extrajs %}
    {{ block.super }}
    <script src="{% static 'project/js/pygal-tooltips.min.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock extrajs %}

{% block content %}
    <div id="div_statistics">
        <h2 class="header_statistics">{% trans "Statistics" %}</h2>
        <div class="div_statistics_data">
            <table class="table-overview applist table_statistics_objects">
                <caption>{% trans "Objects" %}</caption>
                <tr>
                    <td>{% trans "Count a polls" %}</td>
                    <td>{{ statistics.count_polls }}</td>
                </tr>
                <tr>
                    <td>{% trans "Count a choices" %}</td>
                    <td>{{ statistics.count_choices }}</td>
                </tr>
                <tr>
                    <td>{% trans "Count a votes" %}</td>
                    <td>{{ statistics.count_votes }}</td>
                </tr>
                <tr>
                    <td>{% trans "Count a voters" %}</td>
                    <td>{{ statistics.count_voters }}</td>
                </tr>
            </table>
            <table class="table-overview applist table_statistics_polls_by_status">
                <caption>{% trans "Count polls by status" %}</caption>
                <tr>
                    <td>{% trans "Count an opened polls" %}</td>
                    <td>{{ statistics.count_opened_polls }}</td>
                </tr>
                <tr>
                    <td>{% trans "Count a closed polls" %}</td>
                    <td>{{ statistics.count_closed_polls }}</td>
                </tr>
                <tr>
                    <td>{% trans "Count a draft polls" %}</td>
                    <td>{{ statistics.count_draft_polls }}</td>
                </tr>
            </table>
            <table class="table-overview applist table_statistics_latest_changes">
                <caption>{% trans "Latest changes" %}</caption>
                <tr>
                    <td>{% trans "Latest added poll" %}</td>
                    <td>{{ statistics.latest_poll|default_if_none:'' }}</td>
                </tr>
                <tr>
                    <td>{% trans "Latest vote" %}</td>
                    <td>{{ statistics.date_latest_vote|default_if_none:'' }}</td>
                </tr>
                <tr>
                    <td>{% trans "Latest active poll" %}</td>
                    <td>{{ statistics.latest_active_poll|default_if_none:'' }}</td>
                </tr>
                <tr>
                    <td>{% trans "Latest voter" %}</td>
                    <td>{{ statistics.latest_voter|default_if_none:'' }}</td>
                </tr>
                <tr>
                    <td>{% trans "Latest selected choice" %}</td>
                    <td>{{ statistics.latest_selected_choice|default_if_none:'' }}</td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
        <div class="div_chart">{{ chart_statistics_count_votes_by_year|safe }}</div>
        <div class="div_all_voters">
            <p class="all_voters_header">{% trans "All voters" %}</p>
            <div class="listing_voters">{{ statistics.all_voters }}</div>
        </div>
</div>
{% endblock content %}
