
{% extends "admin/base.html" %}

{% load i18n %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'export_import_models/css/eim_export.css' %}">
{% endblock extrastyle %}


{% block content %}
    {{ block.super }}
    <div>

        {% comment %}
            Title and message for user
        {% endcomment %}
        <div>
            <h1 class="lead">{% trans "Export data" %}</h1>
            <div class="alert alert-info">
                {% blocktrans count count_objects=queryset.count %}
                    You trying made export <strong class="text-danger">{{ count_objects }}</strong> object to other formats.
                {% plural %}
                    You trying made export <strong>{{ count_objects }}</strong> objects to other formats.
                {% endblocktrans %}
            </div>
        </div>

        {% comment %}
            A table the selected objects for export
        {% endcomment %}
        <button data-toggle="collapse" data-target="#div_table_objects" class="btn btn-default btn-xs pull-right">{% trans "Collapse/show objects" %}</button>
        <div class="clearfix"></div>
        <div id="div_table_objects" class="collapse in">
            <table class="table table-hover" id="table_objects">
                <caption><h3>{% trans "Objects" %}</h3></caption>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>{% trans "Object" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in queryset %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ obj }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <form action="{% url 'export_import_models:export_preview_download' %}" method="GET">

            {% comment %}
                A hidden input with primary keys object for export, separated commas.
            {% endcomment %}
            <input type="hidden" name="contenttype_model_pk" value="{{ contenttype_model_pk }}">
            <input type="hidden" name="pks_separated_commas" value="{{ pks_separated_commas }}">

            {% comment %}
                A table for fields of model
            {% endcomment %}
            <div>
                <table class="table table-hover" id="table_fields">
                    <caption><h3>{% trans "Fields" %}</h3></caption>
                    <thead>
                        <tr>
                            <th><button id="btn_select_all_fields">{% trans "Select all" %}</button></th>
                            <th>{% trans "Field" %}</th>
                            <th>{% trans "Verbose name" %}</th>
                            <th>{% trans "Type" %}</th>
                            <th>{% trans "Help text" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in fields %}
                        <tr>
                            <td><input type="checkbox" name="fields" value="{{ field.name }}" checked="checked" /></td>
                            <td>{{ field.name }}</td>
                            <td>{{ field.verbose_name }}</td>
                            <td>{{ field.get_internal_type }}</td>
                            <td>{{ field.help_text }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% comment %}
                A table for choice format output
            {% endcomment %}
            <div>
                <table class="table" id="table_formats">
                    <caption><h3>{% trans "Formats" %}</h3></caption>
                    <tbody>
                        <tr>
                            <td>
                                <label for="format_export_data_json">
                                    <input type="radio" name="format_export_data" value="json" id="format_export_data_json">
                                    JSON
                                </label>
                            </td>
                            <td>
                                <label for="format_export_data_yaml">
                                    <input type="radio" name="format_export_data" value="yaml" id="format_export_data_yaml">
                                    YAML
                                </label>
                            </td>
                            <td>
                                <label for="format_export_data_xml">
                                    <input type="radio" name="format_export_data" value="xml" id="format_export_data_xml">
                                    XML
                                </label>
                            </td>
                            <td>
                                <label for="format_export_data_csv">
                                    <input type="radio" name="format_export_data" value="csv" id="format_export_data_csv">
                                    CSV
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            {% comment %}
                Div with buttons
            {% endcomment %}
            <div>
                <input type="submit" name="preview" value="{% trans 'Preview output data' %}" id="btn_submit_export_preview" class="btn btn-info pull-left">
                <input type="submit" name="download" value="{% trans 'Download as file' %}" id="btn_submit_export_download" class="btn btn-success pull-right">
            </div>
        </form>

    </div>
{% endblock content %}


{% block extrajs %}
    {{ block.super }}
    <script src="{% static 'export_import_models/js/export.js' %} " type="text/javascript" charset="utf-8"></script>
{% endblock %}
