
{% extends "admin/base_site.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
{% endblock extra_css %}


{% block content %}
    {{ block.super }}
    <div>
        <div>
            <p>You tried export data`s {{ count_objects }} object/s to other formats. For it, please choice need fields.</p>
        </div>
        <div>
            <p>Choice fields:</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><button id="btn_select_all_fields">Select all</button></th>
                        <th>Name</th>
                        <th>Human name</th>
                        <th>Type</th>
                        <th>Help text</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in fields %}
                    <tr>
                        <td><input type="checkbox" name="model_field_{{ field.name }}" value="{{ field.name }}" checked="checked" /></td>
                        <td>{{ field.name }}</td>
                        <td>{{ field.verbose_name }}</td>
                        <td>{{ field.get_internal_type }}</td>
                        <td>{{ field.help_text }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <p>Choice format:</p>
            <label for="format_exported_data_json">
                <input type="radio" name="format_exported_data" value="json" checked="checked" id="format_exported_data_json">
                JSON
            </label>
            <label for="format_exported_data_yaml">
                <input type="radio" name="format_exported_data" value="yaml" id="format_exported_data_yaml">
                YAML
            </label>
            <label for="format_exported_data_xml">
                <input type="radio" name="format_exported_data" value="xml" id="format_exported_data_xml">
                XML
            </label>
            <div>
                <a href="#" target="_blank" id="link_admin_export_preview">{% trans "Preview output data" %}</a>
                <a href="#" id="link_admin_export_download">{% trans "Download as file" %}</a>
            </div>
        </div>
        <div>
            <a href="#" id="link_download_as_csv">{% trans "Download as CSV" %}</a>
            <a href="{% url 'export_import_models:admin_export_pdf' %}">{% trans "Download as PDF" %}</a>
            <a href="{% url 'export_import_models:admin_export_excel' %}">{% trans "Download as Excel" %}</a>
        </div>
    </div>
{% endblock content %}


{% block extrajs %}
    {{ block.super }}

    <!-- Keep a JS variables by the DTL -->
    <script>
        var ct_model_pk = '{{ ct_model_pk }}'
        var objects_pks = '{{ objects_pks }}'
    </script>

    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %} " type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'admin/js/jquery.init.js' %} " type="text/javascript" charset="utf-8"></script>

    <script src="{% url 'django_js_reverse' %}" type="text/javascript"></script>

    <script src="{% static 'export_import_models/js/export_import_models.js' %} " type="text/javascript" charset="utf-8"></script>

{% endblock %}
