
{% extends "admin/base_site.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
{% endblock extra_css %}


{% block content %}
    {{ block.super }}
    <div>
        <div>
            <h1>{% trans "Export data" %}</h1>
            <p>
                {% blocktrans %}
                    You tried export data`s {{ count_objects }} object/s to other formats. For it, please choice need fields.
                {% endblocktrans %}
            </p>
        </div>
        <div>
            <h2>{% trans "Fields" %}</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><button id="btn_select_all_fields">{% trans "Select all" %}</button></th>
                        <th>{% trans "Field" %}</th>
                        <th>{% trans "Verbose name" %}</th>
                        <th>{% trans "Type" %}</th>
                        <th>{% trans "Help text" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in fields %}
                    <tr>
                        <td><input type="checkbox" name="model_field_{{ field.name }}" value="{{ field.name }}" checked="checked" /></td>
                        <td>{{ field.name }}</td>
                        <td>{{ field.verbose_name }}</td>
                        <td>{{ field.get_internal_type }}</td>
                        <td>{{ field.help_text }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <h2>{% trans "Format" %}</h2>
            <label for="format_exported_data_json">
                <input type="radio" name="format_exported_data" value="json" checked="checked" id="format_exported_data_json">
                JSON
            </label>
            <label for="format_exported_data_yaml">
                <input type="radio" name="format_exported_data" value="yaml" id="format_exported_data_yaml">
                YAML
            </label>
            <label for="format_exported_data_xml">
                <input type="radio" name="format_exported_data" value="xml" id="format_exported_data_xml">
                XML
            </label>
            <label for="format_exported_data_csv">
                <input type="radio" name="format_exported_data" value="csv" id="format_exported_data_csv">
                CSV
            </label>
            <label for="format_exported_data_xlsx">
                <input type="radio" name="format_exported_data" value="xlsx" id="format_exported_data_xlsx">
                XLSX
            </label>
        </div>
        <div>
            <h4>{% trans "Action" %}</h4>
            <a href="#" target="_blank" id="link_admin_export_preview" class="btn btn-info">{% trans "Preview output data" %}</a>
            <a href="#" id="link_admin_export_download" class="btn btn-success">{% trans "Download as file" %}</a>
        </div>
    </div>
{% endblock content %}


{% block extrajs %}
    {{ block.super }}
    <script src="{% static 'export_import_models/js/export_import_models.js' %} " type="text/javascript" charset="utf-8"></script>
{% endblock %}
