
{% extends "admin/base.html" %}

{% load i18n %}
{% load static %}
{% load eim_templatefilters %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'export_import_models/css/import.css' %}">
{% endblock extrastyle %}

{% block extrahead %}
    {{ block.super }}
    {{ django_admin_media }}
    {{ form.media }}
{% endblock extrahead %}

{% block content %}
    {{ block.super }}
    <div>
        <div>
            <h2 class="lead">{% trans "Import data" %}</h2>
            <div class="alert alert-info">
                <p>{% trans "Now you tring import data in project." %}</p>
                <p>{% trans "First of all, select file with serialized data for this project in XML, JSON, YAML and CSV format." %}</p>
            </div>
        </div>
        <div class="alert alert-success">
            <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div id="file_upload_and_check">
                    <p class="text-danger">{{ form.file.errors }}</p>
                    {{ form.file.label_tag }}{{ form.file }}
                    <input type="submit" value="Make check" name="submit_make_check_file" class="btn btn-default pull-right">
                </div>
            </form>
        </div>
        {% if msg_about_errors_while_import %}
            <div class="alert-danger">
                {{ msg_about_errors_while_import }}
            </div>
        {% else %}
            {% if details_import.count_importing_objects %}
                <div>
                    <table class="table">
                        <caption><h3>{% trans "Details of import" %}</h3></caption>
                        <thead>
                            <th>{% trans "Application" %}</th>
                            <th>{% trans "Model" %}</th>
                            <th>{% trans "Format of file for import" %}</th>
                            <th>{% trans "Count importing objects" %}</th>
                            <th>{% trans "Count valid objects" %}</th>
                        </thead>
                        <tbody>
                            <td>{{ details_import.verbose_application_name }}</td>
                            <td>{{ details_import.verbose_model_name }}</td>
                            <td>{{ details_import.format_file_for_import }}</td>
                            <td>{{ details_import.count_importing_objects }}</td>
                            <td>{{ details_import.count_valid_objects }}</td>
                        </tbody>
                    </table>
                </div>
                <div>
                    <button class="btn btn-default pull-right" data-target="#div_table_preview_importing_objects" data-toggle="collapse">{% trans "Collapse/Show objects" %}</button>
                    <div class="clearfix"></div>
                </div>
                <div id="div_table_preview_importing_objects" class="collapse in">
                    <table class="table" id="table_preview_importing_objects">
                        <caption><h3>{% trans "Import objects" %}</h3></caption>
                        <thead>
                            <th>{% trans "№" %}</th>
                            <th>{% trans "Primary key" %}</th>
                            <th>{% trans "Object" %}</th>
                            <th>{% trans "Is valid" %}</th>
                            <th>{% trans "Obstacles" %}</th>
                        </thead>
                        <tbody>
                            {% for obj in deserialized_objects %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ obj.pk }}</td>
                                    <td>{{ obj.str }}</td>
                                    <td>{{ obj.is_valid|convert_boolean_in_colored_html }}</td>
                                    <td>{{ obj.errors|covert_dict_errors_to_beaty_html }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    {% if details_import.count_valid_objects == 0 %}
                        <div class="alert alert-warning">
                            {% trans "No one object not possible will be created. So don`t need make changes in database." %}
                        </div>
                    {% endif %}
                    {% if details_import.count_valid_objects > 0 %}
                        <div class="alert alert-info">
                            {% trans "You can create " %}
                            {% blocktrans count count=details_import.count_valid_objects trimmed %}
                                {{ count }} object
                            {% plural %}
                                {{ count }} objects
                            {% endblocktrans %}.
                            {% trans "For accomplish it, please click button. " %}
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="pks_valid_deserialized_objects" value="{{ details_import.pks_valid_deserialized_objects }}">
                            <button class="btn btn-warning" type="submit" name="submit_apply_import">{% trans "Apply" %}</button>
                        </form>
                    {% endif %}
                </div>
                {% endif %}
        {% endif %}
    </div>
{% endblock content %}
