<!DOCTYPE html>

{% load i18n %}
{% load l10n %}
{% load myfilters %}
{% load mytags %}
{% load humanize %}
{% load nvd3_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block block_title %}{% trans "Index" %}{% endblock block_title %}</title>
    {% block block_css %}
        {% include_chart_jscss %}
        {% load_chart charttype chartdata chartcontainer extra %}
    {% endblock block_css %}
</head>
<body>
<h1>Fruits vs Calories</h1>
{% include_container chartcontainer 400 600 %}
{% block block_body %}
    {% block block_header %}
    <p>Hi {{ user }}.</p>
    <p>Count visits this page: {{ count_visits_this_page }}</p>

    {% endblock block_header %}
    {% block content %}

    {% endblock content %}
    {% block footer %}
    <p>
        {% blocktrans count count_online_users=count_online_users trimmed %}
            Now is one user is on-line:
        {% plural %}
            Now is {{ count_online_users }} users is on-line:
        {% endblocktrans %}
        {{ credentials_online_users }}
    </p>
    <h3 align="center">{% trans "Website already exists" %} {{ date_creating_website|timesince }}</h3>
    {% endblock footer %}
    {% block block_js %}

    {% endblock block_js %}
{% endblock block_body %}
</body>
</html>
