<!DOCTYPE html>

{% load i18n %}
{% load l10n %}
{% load humanize %}

{% load utils_filters %}
{% load utils_tags %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block block_title %}{{ title }}{% endblock block_title %}</title>

    {% block extra_css %}

    {% endblock extra_css %}

    {% block extra_head %}

    {% endblock extra_head %}

</head>
<body>

    {% block header %}

    {% endblock header %}

    {% block content %}

        <h1>I want to know everything</h1>

        <p>Now is registers users: {{ ONLINE_AUTHENTICATED_USERS|length }}</p>
        <p>Now is anonymous users: {{ ONLINE_ANONYMOUS_USERS|length }}</p>
        <p>Online users: {{ ONLINE_AUTHENTICATED_USERS|join:', ' }}</p>
        <p>Welcome: {{ request.user }}</p>
        <p>Count visits this page: {{ COUNT_VISITS_PAGE }}</p>
        <p>Website already exists: {{ SITE_CREATED|timesince }}</p>

    {% endblock content %}

    {% block footer %}

    {% endblock footer %}

    {% block extra_js %}

    {% endblock extra_js %}

</body>
</html>
