
#form_addchange > div.tab-content > div.tab-pane {
    padding: 25px 15px;
}


div[id^=fieldset]{
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-top-color: #fff;
}


#buttons{
    margin-top: 10px;
    margin-bottom: 10px;
}

.object_panel a{
    color: inherit;
    display: block;
}


.object_panel a:hover{
    text-decoration: none;
}

.object_panel .panel-heading span.pull-right label:first-child{
    position: relative;
    margin: 0;
    top: -2px;
}
