
#form_addchange > div.tab-content > div.tab-pane {
    padding: 25px 15px;
}


div[id^=fieldset]{
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-top-color: #fff;
}


#buttons{
    margin-top: 10px;
    margin-bottom: 10px;
}


.object_panel .div_delete_object{
    float: right;
    min-width: 50px;
}


.object_panel .div_delete_object{
    float: right;
    min-width: 50px;
}

.object_panel .div_delete_object span:first-child{
    position: relative;
    margin: 0;
    top: -2px;
}


.object_panel a[data-toggle="collapse"]{
    color: inherit;
    display: block;
}


.object_panel a[data-toggle="collapse"]:link{
    text-decoration: none;
}


table.tabular_table{
    background-color: #f7f7f7;
}

table.tabular_table th.column_delete, table.tabular_table th.column_change_link{
    width: 10px;
}
