

#sidebar
{
    position: absolute;
    z-index: 9999;

    display: -ms-flexbox;
    display: flex;

    width: 230px;
    min-height: 500px;
    padding: 0;

    color: #fff;
    background: #2a3f54;
    /* font-size:  5px; */
}


#content
{
    box-sizing: border-box;
    min-height: 500px;
    margin-left: 230px;
    /* padding: 10px 20px 0; */

    background: #f7f7f7;
}

#search_box
{
    width: 50%;

    -webkit-transition: width 1.5s .2s;
            transition: width 1.5s .2s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
}

#wrapper_search_box:hover #search_box
{
    display: hidden;

    width: 100%;
}

#sidebar_apps {
    margin-top: 10px;
}

#sidebar_apps ul>li{
    position: relative;
    display: block;
    cursor: pointer;
}


#sidebar_apps ul>li>a
{
    font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif
    font-size: 13px
    font-weight: 500
    line-height: 19.123px

    position: relative

    display: block

    box-sizing: border-box
    height: 44.9858px
    margin-bottom: 6px
    padding-top: 13px
    padding-right: 15px
    padding-bottom: 12px
    padding-left: 15px

    list-style-position: outside
    list-style-type: none
    list-style-image: none

    cursor: pointer
    text-align: left
    text-decoration: none

    color: rgb(231, 231, 231)
    outline-width: 0
    outline-style: none
    outline-color: rgb(231, 231, 231)
    background-color: rgba(0, 0, 0, 0);
}

#sidebar_apps ul>li>a>i.fa
{
    font-family: FontAwesome;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;

    display: inline-block;
}

#sidebar_apps ul>li>a>span.fa
{
    text-align: right;
}
