

#div_model_searchbox, #div_actions, #div_date_hierarchy, #changelist{
    margin-top: 10px;
}


table thead th.is_sortable:hover{
    cursor: pointer;
}

    table thead th.is_sortable:hover table tr{
        color: #222;
    }


#changelist table.table{
    background-color: rgb(255, 255, 255);
}


#changelist table thead th{
    color: rgb(42, 63, 84);
    background-color: rgb(234, 228, 240);
}

#div_actions form span{
    font-size: 16px;
}


#changelist table td, #changelist table th{
    vertical-align: middle;
}

#changelist > table thead th:nth-child(1), #changelist > table tbody td:nth-child(1){
    width: 5px;
    text-align: center;
}

#navigation{
    border-top: 1px solid #337AB7;
    margin-bottom: 10px;
    border-bottom: 1px solid #337AB7;
}


#navigation ul{
    padding: 0;
    margin: 10px;
}


#form_actions table td{
    text-align: center;
     padding: 0 10px;
}
