

#div_model_searchbox, #div_actions, #div_date_hierarchy, #changelist{
    margin-top: 10px;
}


table thead th.is_sortable:hover{
    cursor: pointer;
}

    table thead th.is_sortable:hover table tr{
        color: #222;
    }


#changelist table.table{
    background-color: rgb(255, 255, 255);
}


#changelist table thead th{
    color: rgb(42, 63, 84);
    background-color: rgb(234, 228, 240);
}

#div_actions form span{
    font-size: 16px;
}


#changelist table td, #changelist table th{
    vertical-align: middle;
}

#changelist > table thead th:nth-child(1), #changelist > table tbody td:nth-child(1){
    width: 5px;
    text-align: center;
}

#navigation{
    border-top: 1px solid #337AB7;
    margin-bottom: 10px;
    border-bottom: 1px solid #337AB7;
}


#navigation ul{
    padding: 0;
    margin: 10px;
}


#form_actions table td{
    text-align: center;
     padding: 0 10px;
}


#display_filters{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1000;
    width: 200px;
    overflow-y: scroll;
    overflow-x: scroll;
    background-color: rgb(42, 63, 84);
    color: rgb(0, 255, 0);
    padding: 5px;
}

#display_filters a{
    color: rgb(0, 255, 0);
}


#btn_show_filters:hover{
    cursor: pointer;
}


#btn_show_filters{
    position: fixed;
    top: 50%;

    -webkit-transform: rotate(-90deg); /* Safari */
    -moz-transform: rotate(-90deg); /* Firefox */
    -ms-transform: rotate(-90deg); /* IE */
    -o-transform: rotate(-90deg); /* Opera */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */

    right: -61px;
    background: red;
    text-align: center;
    z-index: 1000;
    width: 150px;
    font-size: 17px;
    font-weight: bold;
}
