
{% extends "admin/statistics.html" %}

{% load i18n %}
{% load static %}

{% block statistics %}

  <div class="div_basic_info">

    <table id="table_container">
      <tr>
        <td>
          <table class="table-overview applist">
            <caption>{% trans "Suits" %}</caption>
            <tbody>
              <tr>
                <td>{% trans "Count suits" %}</td>
                <td>{{ statistics_data.count_suits }}</td>
              </tr>
              <tr>
                <td>{% trans "Average count questions in suits" %}</td>
                <td>{{ statistics_data.avg_count_questions_for_suits }}</td>
              </tr>
              <tr>
                <td>{% trans "Average count passages in suits" %}</td>
                <td>{{ statistics_data.avg_count_passages_for_suits }}</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table class="table-overview applist">
            <caption>{% trans "Questions" %}</caption>
            <tbody>
              <tr>
                <td>{% trans "Count questions" %}</td>
                <td>{{ statistics_data.count_questions }}</td>
              </tr>
              <tr>
                <td>{% trans "Average count variants in questions" %}</td>
                <td>{{ statistics_data.avg_count_variants_in_questions }}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table class="table-overview applist">
            <caption>{% trans "Passages" %}</caption>
            <tbody>
              <tr>
                <td>{% trans "Count passages" %}</td>
                <td>{{ statistics_data.count_passages }}</td>
              </tr>
              <tr>
                <td>{% trans "Count attempt passages" %}</td>
                <td>{{ statistics_data.count_attempt_passages }}</td>
              </tr>
              <tr>
                <td>{% trans "Count passed passages" %}</td>
                <td>{{ statistics_data.count_passed_passages }}</td>
              </tr>
              <tr>
                <td>{% trans "Count distinct testers" %}</td>
                <td>{{ statistics_data.count_distinct_testers }}</td>
              </tr>
              <tr>
                <td>{% trans "Total average mark" %}</td>
                <td>{{ statistics_data.avg_mark_for_passages }}</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table class="table-overview applist">
            <caption>{% trans "Variants" %}</caption>
            <tbody>
              <tr>
                <td>{% trans "Count variants" %}</td>
                <td>{{ statistics_data.count_variants }}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <div class="chart_and_objects">
    <div class="div_chart_objects pull-left">
      <table class="table">
      <caption>{% trans "Chart count passages by the past year" %}</caption>
      <thead>
        <th>{% trans "Month, year" %}</th>
        <th>{% trans "Total" %}</th>
        <th>{% trans "Attempt" %}</th>
        <th>{% trans "Passed" %}</th>
      </thead>
      <tbody>
        {% for month_year, data in statistics_data.statistics_count_passages_by_the_past_year %}
          <tr>
            <td>{{ month_year }}</td>
            {% for count in data %}
              <td>{{ count }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <div class="div_chart pull-right">
      {{ statistics_data.chart_count_passages_for_the_past_year|safe }}
    </div>
    <div class="clearfix"></div>
  </div>

{% endblock statistics %}
