 {% for table_chart in tables_charts_data %}
<div class="chart_and_objects">
    <p class="lead">{{ table_chart.title }}</p>
    {% if table_chart.table is not None %}
    <div class="div_chart_objects pull-left">
        <table class="table">
            <thead>
                {% for field in table_chart.table.fields %}
                <th>{{ field }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for args in table_chart.table.data %}
                <tr>
                    {% for arg in args %}
                    <td>{{ arg }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <div class="div_chart {% if table_chart.table is not None %}pull-right{% endif %}">{{ table_chart.chart|safe }}</div>
    <div class="clearfix"></div>
</div>
{% endfor %}
